*.psd filter=lfs diff=lfs merge=lfs
*.png filter=lfs diff=lfs merge=lfs
*.fbx filter=lfs diff=lfs merge=lfs
*.glb filter=lfs diff=lfs merge=lfs
*.wav filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs

*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.mat merge=unityyamlmerge
*.physicMaterial merge=unityyamlmerge
*.physcisMaterial2D merge=unityyamlmerge
*.controller merge=unityyamlmerge
*.anim merge=unityyamlmerge
*.overrideController merge=unityyamlmerge
*.mask merge=unityyamlmerge

#use ours branch
*.meta merge=ours
